.elevator {
   width: 150px;
   height: 200px;
   display: flex;
   padding: 5px;
   flex-direction: column;
   border: 1px solid black;
   background-color: aliceblue;
}

.elevator-information {
   flex: 1 1 30%;
   display: flex;
   align-items: center;
   column-gap: 10px;
   justify-content: center;
}
.elevator-doors {
   flex: 1 1 70%;
   display: flex;
}

.elevator-doors__right, .elevator-doors__left {
   flex: 1 1 50%;
   border: 2px solid black;
}

.elevator-floor, .elevator-direction {
   width: 20px;
   height: 20px;
   display: flex;
   color: black;
   justify-content: center;
   align-items: center;
   border: 1px solid black;
}